body {
  font-family:cursive;
  padding: 20px;
}

h2 {
  text-align: center;
  background-color: beige;
  color: blue;
}

form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

input, button {
  padding: 6px 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #aaa;
  padding: 8px;
  text-align: center;
}

th {
  background: #eee;
}
